SQL_SERVER=localhost\SQLEXPRESS
SQL_DATABASE=QualityAnalytics
SQL_UID=qa_etl
SQL_PWD=

PART_INTERVAL_SECONDS=2
BASELINE_SAMPLES_PER_MACHINE=40
DRIFT_START_LASER03=60
DRIFT_SLOPE=0.0025
EXPECTED_GAP_SECONDS=2
GAP_TOLERANCE_SECONDS=1
POLL_SECONDS=1
BATCH_SIZE=25
